body {
  margin:0px;
  background-color: #eeeeee;
}

a, a:hover {
  color: #000;
}

fa-icon { width: fit-content; }

.block {
  display: block!important;
}
.inline-block {
  display: inline-block;
}
.list-reset {
  list-style: none;
  padding-left: 0;
}

.rounded {
  border-radius: 3px;
}

.circle, .badge {
  border-radius: 50%;
}

.border {
  border-style: solid;
  border-width: 1px;
}

.full-width {
  width: 100%;
}
.fit {
  max-width: 100%;
}
.fit-content {
  width: fit-content;
}

.icon-sm {
  width: 15px;
}
.badge {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
.badge-sm {

}
.bg-green, .bg-hover-green:hover {
  color: #fff;
  background-color: #4CAF50;
}
.bg-red, .bg-hover-green:hover {
  color: #fff;
  background-color: #f34848;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.left {
  float: left;
}
.right {
  float: right;
}

.center {
  text-align: center;
}


.h1 {
  font-size: 2rem;
}
.h2 {
  font-size: 1.5rem;
}
.h3 {
  font-size: 1.25rem;
}

.text-decoration-none {
  text-decoration: none;
}

.mx-auto {
  margin-right: auto;
}
.ml-auto, .mx-auto {
  margin-left: auto;
}
.mt1 {
  margin-top: 0.5rem;
}
.mt2 {
  margin-top: 1rem;
}
.mb1 {
  margin-bottom: 0.5rem;
}
.mb2 {
  margin-bottom: 1rem;
}
.ml1 {
  margin-left: 0.5rem;
}
.ml2 {
  margin-left: 1rem;
}
.mr1 {
  margin-right: 0.5rem;
}
.mr2 {
  margin-right: 1rem;
}
.pt1 {
  padding-top: 0.5rem;
}
.pt2 {
  padding-top: 1rem;
}
.pb1 {
  padding-bottom: 0.5rem;
}
.pb2 {
  padding-bottom: 1rem;
}
.pl1 {
  padding-left: 0.5rem;
}
.pl2 {
  padding-left: 1rem;
}
.pr1 {
  padding-right: 0.5rem;
}
.pr2 {
  padding-left: 1rem;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

@media (min-width: 52.06rem) {
  .md-col {
    float: left;
    box-sizing: border-box;
  }

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.33333%;
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-8 {
    width: 66.66667%;
  }

  .md-col-12 {
    width: 100%;
  }
}
