<div class="clearfix top-bar-wrap pt1 pb1 pl1 pr1">
  <div class="logo-wrap md-col md-col-3">
    <div class="block circle border logo">
      <span class="block lin-wrap">LIN</span>
      <span class="block go-wrap">GO</span>
    </div>
  </div>
  <div class="menu-wrap md-col md-col-6">
    <ul class="list-reset">
      <li class="inline-block mr2">
        <fa-icon [icon]="faFileSignature" class="block mx-auto mb1" size="2x"></fa-icon>
        <span class="block center">Уроки</span>
      </li>
      <li class="inline-block mr2">
        <fa-icon [icon]="faChalkboardTeacher" class="block mx-auto mb1" size="2x"></fa-icon>
        <span class="block center">Учителя</span>
      </li>
      <li class="inline-block mr2">
        <fa-icon [icon]="faSchool" class="block mx-auto mb1" size="2x"></fa-icon>
        <span class="block center">Классы</span>
      </li>
      <li class="inline-block mr2">
        <fa-icon [icon]="faGamepad" class="block mx-auto mb1" size="2x"></fa-icon>
        <span class="block center">Игра</span>
      </li>
    </ul>
  </div>
  <div class="profile-wrap md-col-3">

  </div>
</div>
