<div class="clearfix top-bar-wrap pt1 pb1 pl1 pr1">
  <div class="logo-wrap md-col md-col-3 pl1">
    <a class="block circle border logo text-decoration-none" [routerLink]="['/']">
      <span class="block lin-wrap">LIN</span>
      <span class="block go-wrap">GO</span>
    </a>
  </div>
  <div class="menu-wrap md-col md-col-6">
    <ul class="list-reset fit-content mx-auto">
      <li class="inline-block mr2">
        <a class="block center text-decoration-none" [routerLink]="['/lessons']" routerLinkActive="active">
          <fa-icon [icon]="faFileSignature" class="block mx-auto mb1" size="2x"></fa-icon>
          <span class="block center">Уроки</span>
        </a>
      </li>
      <li class="inline-block mr2">
        <fa-icon [icon]="faChalkboardTeacher" class="block mx-auto mb1" size="2x"></fa-icon>
        <span class="block center">Учителя</span>
      </li>
      <li class="inline-block mr2">
        <fa-icon [icon]="faSchool" class="block mx-auto mb1" size="2x"></fa-icon>
        <span class="block center">Классы</span>
      </li>
      <li class="inline-block mr2">
        <fa-icon [icon]="faGamepad" class="block mx-auto mb1" size="2x"></fa-icon>
        <span class="block center">Игра</span>
      </li>
    </ul>
  </div>
  <div class="profile-wrap md-col md-col-3">
    <div class="stats-wrap right fit-content">
      <img src="assets/images/brad-pitt.jpg" class="left mr1 border circle photo">
      <div class="left pt1">
        <div class="left full-width alerts-wrap mb1"><fa-icon [icon]="faBell" class="block icon-sm left mr1" size="1x"></fa-icon> <span class="badge badge-sm bg-red">1</span></div>
        <div class="left full-width messages-wrap"><fa-icon [icon]="faCommentDots" class="block icon-sm left mr1" size="1x"></fa-icon> <span class="badge badge-sm bg-red">2</span></div>
      </div>
    </div>
  </div>
</div>
